@media all and (max-width: 670px) {
  
    
header {
  position:fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(105,105,105,0.9);
}

.logo {
  width: 55px;
  height:40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.header-left  {
  float: left;
}

.header-left h1{
  font-family: emoji;
  font-size: 20px;
  font-weight: bold;
  float:left;
  color:black;
  margin-right: 0px;
  margin-left: 5px
  padding:0px 25px;
  margin-top: -3px;
  margin-bottom: 10px;

}

    
  
.header-center a {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: black;
  /* Change the transition property */
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-family: fantasy;
  font-size: 5px;
  display:block;
  transition:all 3s;
}

    
    .mySlides {
  height: 500px;
  background-size: cover;
}

    
    
  footer {
    text-align: left;
  }
  
  .btn {
    width: 100%;
  }
    
  .top-wrapper {
    text-align: center;
  }
  
  /* Add CSS for header-right */
 .header-center {
   display:none
 } 
  
  /* Add CSS for menu-icon */

  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom:30px;
  }
}
