@media all and (max-width: 670px) {
    
    
.header-logo {            
 float: left;            
 font-size: 40px;
 color:whitesmoke
 padding: 20px 40px;  
 border-bottom: 5px solid #dee7ec;
  
 }            

.message-wrapper {
  margin-top: -10px;
  margin-right: 10px;
  float:right;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  text-align: center;
  font-size:10px;
  
}


.contents-item {
  float: left;
  margin-right:50px;
  margin-left: 20px;
  
}

.contents-item1 {
  float: left;
  margin-right:50px;
  margin-left: 20px;
  margin-bottom: 100px;
   
}


.contact-form p{
    font-family: inherit;
    font-size:20px;
    margin-top: 15px;
    margin-bottom: 80px;
}


}
